.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.app__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {

}

.sub-heading {
  margin-top: 0;
  text-align: center;
}

.app__body {
  flex-grow: 1;
}

.app__footer {
  font-size: 0.6em;
  width: 100%;
  min-height: 36px;
  position: relative;
}

.app__footer-message {
  text-align: center;
}

.app__giphy-attribution {
  position: absolute;
  right: 0;
  bottom: 0;
}
