.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.app__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {

}

.heading--pride .heading__text {
  background-image: linear-gradient(
          to right,
          #FFFFFF,
          #FFAFC7,
          #73D7EE,
          #613915,
          #000000,
          #E50000,
          #FF8D00,
          #FFEE00,
          #028121,
          #004CFF,
          #760088
  );
  background-image: url('/images/progresspride.jpg');
  background-size: auto 100%;
  background-position: left center;
  background-repeat: no-repeat;
  font-weight: 900;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #000000;
}

.theme--dark .heading--pride .heading__text {
  -webkit-text-stroke-color: #CCCCCC;
}

.sub-heading {
  margin-top: 0;
  text-align: center;
}

.app__body {
  flex-grow: 1;
}

.app__footer {
  font-size: 0.6em;
  width: 100%;
  min-height: 36px;
  position: relative;
}

.app__footer-message {
  text-align: center;
}

.app__giphy-attribution {
  position: absolute;
  right: 0;
  bottom: 0;
}

.app__theme-toggle {
  appearance: none;
  -moz-appearance: none;
  background: transparent !important;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 2rem;
  width: 2em;
  height: 2em;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.theme--light {
  background: white;
  color: black;
}

.theme--dark {
  background: #222;
  color: #CCC;
}

.theme--dark button,
.theme--dark input {
  border-color: #444;
  background: #666;
  color: #CCC;
}

a {
  color: #33F;
}


.app.stream-mode-enabled > *:not(.app__body) {
  display: none;
}
