.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.app__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {

}

.sub-heading {
  margin-top: 0;
  text-align: center;
}

.app__body {
  flex-grow: 1;
}

.app__footer {
  font-size: 0.6em;
  width: 100%;
  min-height: 36px;
  position: relative;
}

.app__footer-message {
  text-align: center;
}

.app__giphy-attribution {
  position: absolute;
  right: 0;
  bottom: 0;
}

.app__theme-toggle {
  appearance: none;
  -moz-appearance: none;
  background: transparent !important;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 2rem;
  width: 2em;
  height: 2em;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.theme--light {
  background: white;
  color: black;
}

.theme--dark {
  background: #222;
  color: #CCC;
}

.theme--dark button,
.theme--dark input {
  border-color: #444;
  background: #666;
  color: #CCC;
}

.theme--dark a {
  color: #33F;
}


.app.stream-mode-enabled > *:not(.app__body) {
  display: none;
}
