.github-corner {
  position: absolute;
  top: 0;
}

.github-corner--left {
  left: 0;
}

.github-corner--right {
  right: 0;
}

.github-corner--light .octo-bg {
  fill: black;
}

.github-corner--light .octo-dude {
  fill: white;
}

.github-corner--dark .octo-bg {
  fill: #CCC;
}

.github-corner--dark .octo-dude {
  fill: black;
}

.octo-arm {
  transform-origin: 130px 106px;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
